body,
html {
  height: 100%;
}

#usertypeheading {
  margin-top: 15px;
  font-size: 9.5px;
}

.nav-al-lado {
  display: none;
}

body {
  width: 100%;
}

table {
  width: 100%;
  text-align: center;
}

#div-tablacorte {
  display: none;
}

#btn-realizar-corte {
  margin-bottom: 15px;
}

.alert {
  text-align: center;
}

#none-alert {
  margin-top: 15px;
  display: none;
}
