body,
html {
  height: 100%;
}

#usertypeheading {
  margin-top: 15px;
  font-size: 9.5px;
}

.nav-al-lado {
  display: none;
}

#product-list {
  padding: 15px;
  height: 100%;
}

#shopping-cart {
  padding: 15px;
  height: inherit;
}

.card {
  margin-bottom: 10px;
  padding: 5px;
}

.card .card-img-top {
  align-self: center;
}

body {
  width: 100%;
}

.addcartbtn {
  margin-right: 7px;
  margin-bottom: 7px;
}

#choose-clients {
  padding-right: 10px;
}

#cart {
  height: 100%;
  background-color: aqua;
  margin-top: 20px;
}

.qtyinput {
  margin-left: 5px;
  width: 45px;
}

#cart-table {
  text-align: center;
}

.rmv-btn:hover {
  color: red;
}

thead {
  color: white;
}

table {
  table-layout: fixed;
  width: 100%;
}

#shopping-head {
  text-align: center;
}

#buybtn-div {
  margin-top: 10px;
  width: 100%;
}

#buy-btn {
  width: 100%;
}

#total-div {
  font-size: 20px;
}

#shopping-total {
  font-weight: bold;
}
